<html>
<head>
    <title>Hello world</title>
</head>
<body>
    <h1>Hello World</h1>
    <div>
        <h2>Stock Quote</h2>
        <div>
            Symbol: @Model.Symbol<br/>
            Price: $@Model.Price<br/>
        </div>
    </div>
</body>
</html>